/*Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Fira+Sans:wght@400;500&family=Inter:wght@400;600;800&family=Montserrat:wght@400;700;800;900&family=Niconne&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

/*header css start */
.header-logo {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
    padding-top: 85px;
}

.navbar nav ul {
    display: flex;
    align-items: center;
    gap: 34px;
}

.navbar ul li {
    list-style: none;
}

.navbar nav ul li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

.navbar nav ul li svg {
    width: 24px;
}

/*header css end */

/*hero-section css start */
.hero-section {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    margin-bottom: 50px;
}

.hero-content h1 {
    width: 582px;
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.hero-content p {
    width: 505px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 26px;
}

.primary-btn {
    width: 196px;
    padding: 10px 24px;
    border-radius: 41px;
    background: #E02C6D;
    display: flex;
    align-items: center;

}

.primary-btn a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-right: 8px;
}

.arrow {
    color: #fff;
    font-size: 24px;
}

.hero-img {
    width: 440px;
    margin-right: 20px;
}

/*hero-section css end */

/*logo css start */
.logo {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 35px;

}

hr {
    color: #C0CCDA;
    width: 1110px;
    height: 1px;
    margin: 0 auto;
}

/*logo css end */

/*collection css start */
.section-title {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 50px;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
}

.mainbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    grid-gap: 30px;
}

.box {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;

}

.collection-img img {
    min-width: 100%;
    max-height: 250px;
    object-fit: cover;
    border-radius: 6px;

}

.Project-title {
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 6px;
}

.price {
    color: #000000DE;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 8px;
}

.RatingStars {
    color: #FB8200;
}

.RatingStars span {
    color: #5E6366;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
}

.Additional {
    color: #787885;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
    width: 196px;
    margin-bottom: 17px;
}

.read-button {
    padding-top: 50px;
    
}

.read-button a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: end;
    color: rgba(224, 44, 109, 0.87);
font-size: 16px;
font-weight: 700;
}
i.bx.bx-right-arrow-alt {
    font-size: 25px;
    
}
/*collection css end */

/*Featured-products css start  */
.Featured-products{
    display: flex;
    justify-content: space-between;
    padding-top: 190px;
    margin-bottom: 100px;
}
.Featured-img img{
    width: 404px;
}
/*.Featured-content {
    margin-left: 96px;
}*/
.Featured-content h2{
    color: #0A0826;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 60px;
}
.Featured-content p{
    color: #6C6C6C;
    width: 501px;
    font-size: 16px;
font-weight: 700;
line-height: 28px;
}
.joinNow{
    display: inline-flex;
    padding: 10px 24px;
    background: #E02C6D;
    margin-top: 15px;
}
.joinNow a{
    text-decoration: none;
    color: #FFF;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
}

/*Featured-products css end  */
